{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here
-->
{% endblock script %}

<!-- Mode legend -->
{% block mode %}
<a class="d-block">
    <i class="nav-icon fas fa-angle-right"></i>
    <b>Acquisition</b> Mode
</a>
{% endblock mode %}

<!-- sidebar elements -->
{% block sidebar %}
<!-- Licel Menu -->
<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-desktop"></i>
        <p>
            Licel controls
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <!-- Control buttons -->
        <li class="nav-item">
            <div class="form-row align-items-center">
                <div class="col-sm-8 my-1">
                    <label class="sr-only" for="inlineFormInputGroup">Acq. Time</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Sec</div>
                        </div>
                        <input type="text" class="form-control " id="acq_time_input" placeholder="Acq. Time">
                    </div>
                </div>
                <div class="col-sm-2 my-1">
                    <button type="submit" class="btn btn-primary" id="acq_time_apply" value="acq_time">Apply</button>
                </div>
                <div class="col-sm-8 my-1">
                    <label class="sr-only" for="inlineFormInputGroup">Period time</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Sec</div>
                        </div>
                        <input type="text" class="form-control " id="period_time_input" placeholder="Period time">
                    </div>
                </div>
                <div class="col-sm-2 my-1">
                    <button type="submit" class="btn btn-primary" id="acq_time_apply" value="acq_time">Apply</button>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-outline-success" id="acq_startbtn" value="start">START</button>
            <button type="button" class="btn btn-outline-danger" id="acq_stopbtn" value="stop">STOP</button>
        </li>
    </ul>
</li>
<!-- ./Licel Menu -->
<!-- Plots control Menu -->
<li class="nav-item has-treeview menu-closed">
    <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-chart-line"></i>
        <p>
            Plots limits
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <label for="rclimits">
                <b style="color:white">Range corrected signal [meters]:</b>
            </label>
            <div class="form-row align-items-center">
                <div class="col-sm-4 my-1">
                    <label class="sr-only" for="inlineFormInputName">Initial</label>
                    <input type="text" class="form-control" id="rc_limits_init_input" placeholder="Initial">
                </div>
                <div class="col-sm-4 my-1">
                    <label class="sr-only" for="inlineFormInputName">Final</label>
                    <input type="text" class="form-control" id="rc_limits_final_input" placeholder="Final">
                </div>
                <div class="col-sm-2 my-1">
                    <button type="submit" class="btn btn-primary" id="rc_limits_apply" value="rc_limits">Apply</button>
                </div>
            </div>
            <div class="fform-row align-items-center">
                <label for="rawlimits">
                    <b style="color:white">Raw signal [meters]:</b>
                </label>
                <div class="form-row align-items-center">
                    <div class="col-sm-4 my-1">
                        <label class="sr-only" for="inlineFormInputName">Initial</label>
                        <input type="text" class="form-control" id="raw_limits_init_input" placeholder="Initial">
                    </div>
                    <div class="col-sm-4 my-1">
                        <label class="sr-only" for="inlineFormInputName">Final</label>
                        <input type="text" class="form-control" id="raw_limits_final_input" placeholder="Final">
                    </div>
                    <div class="col-sm-2 my-1">
                        <button type="submit" class="btn btn-primary" id="raw_limits_apply" value="raw_limits">Apply</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
<!-- ./Plots control Menu -->
<!-- Load ini Menu -->
<li class="nav-item has-treeview menu-closed">
    <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-file-upload"></i>
        <p>
            Load INI files
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <form id="upload-form" method="POST" enctype=multipart/form-data action="{{url_for('load_ini_files')}}">
        <li>
            <div class="form-group">
                <label for="acquisini">
                    <b style="color:white">Acquis file:</b>
                </label>
                <input type="file" class="form-control-file" accept=".ini" name="acquisini" id="acquisini_input" style="color:white">
            </div>
            <div class="form-group">
                <label for="globalinfoini">
                    <b style="color:white">Global Info file:</b>
                </label>
                <input type="file" class="form-control-file" accept=".ini" name="globalinfoini" id="globalinfoini_input" style="color:white">
            </div>
        </li>
        <li>
            <input type="submit" class="btn btn-primary" id="ini_files" value="Load config">
        </li>
        </form>
</li>
</ul>
</li>
<!-- ./Load ini Menu -->
<!-- netCDF export -->
<li class="nav-item has-treeview menu-closed">
    <a href="#" class="nav-link ">
        <i class="nav-icon fas fas fa-file-export"></i>
        <p>
            netCDF export
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <div class="form-row align-items-center">
                <div class="col-sm-7 my-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">></div>
                        </div>
                        <input type="text" class="form-control " id="file_name" placeholder="File name">
                    </div>
                </div>
                <div class="col-sm-2 my-1">
                  <a href='../' download="LICENSE">
                    <button type="button">Download</button>
                  </a>
                </div>
            </div>
        </li>
    </ul>
</li>
<!-- ./netCDF export -->
<!-- Laser controls -->
<li class="nav-item has-treeview menu-closed">
    <a href="#" class="nav-link ">
        <i class="nav-icon fas fa-atom"></i>
        <p>
            Laser controls
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <div class="form-row align-items-center">
                <div class="col-sm-7 my-1">
                    <label class="sr-only" for="inlineFormInputGroup">Laser shoot</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">></div>
                        </div>
                        <input type="text" class="form-control " id="laser_port_input" placeholder="Serial port">
                    </div>
                </div>
                <div class="col-sm-2 my-1">
                    <button type="button" class="btn btn-outline-success btn-sm" id="laser_startbtn" value="laser_start">ON</button>
                </div>
                <div class="col-sm-2 my-1">
                    <button type="button" class="btn btn-outline-danger btn-sm" id="laser_stopbtn" value="laser_stop">OFF</button>
                </div>
            </div>
        </li>
    </ul>
</li>
<!-- ./Laser controls -->
{% endblock sidebar %}

{% block my_content %}
<!-- HEADER PAGE -->
<div class="row">
    <!-- ./col -->
    <!-- ./col -->
</div>

<!-- Plotly plot placeholder -->
<div class="container-fluid">
      <div class="row">
          <!-- LiDAR signal plot-->
          <div class="chart" id="plotly-lidar-signal">
          </div>
      </div>
      <hr>
      <div class="row">
          <!-- LiDAR signal plot-->
          <div class="chart" id="plotly-lidar-signal">
          </div>
      </div>
      <hr>
      <div class="row">
          <!-- LiDAR signal plot-->
          <div class="chart" id="plotly-lidar-signal">
          </div>
      </div>
      <hr>
      <div class="row">
          <!-- LiDAR signal plot-->
          <div class="chart" id="plotly-lidar-signal">
          </div>
      </div>
  </div>
</div>

<!-- Script to execute the Json ( we can create it also with looping) -->
<script>
//Parse your Json variable here
var graphs = {{ context.plot_lidar_signal | safe }};
Plotly.plot('plotly-lidar-signal', graphs, {});
</script>

<script>
// Loading initial globalconfig of variable dashboard
var globalconfig = {{ context.globalconfig | safe }};

// Licel controls
document.getElementById('acq_time_input').value = globalconfig["acq_time"];

// Plots limits
document.getElementById('rc_limits_init_input').value = globalconfig["rc_limits_init"];
document.getElementById('rc_limits_final_input').value = globalconfig["rc_limits_final"];
document.getElementById('raw_limits_init_input').value = globalconfig["raw_limits_init"];
document.getElementById('raw_limits_final_input').value = globalconfig["raw_limits_final"];

// Laser controls
document.getElementById('laser_port_input').value = globalconfig["laser_port"];
</script>


{% endblock my_content %}

