{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}
{% block my_content %}
<!-- HEADER PAGE -->
<!-- Confirmed, Recovered, Deaths Card -->
<div class="row">
    <!-- ./col -->

    <!-- ./col -->
</div>

<!-- Plotly plot placeholder -->
<div class="container-fluid">
      <div class="row">
        <div class="column">
          <!-- LiDAR signal with range correction plot-->
          <div id="plotly-lidar-range-correction"></div>
        </div>
        <div class="column">
          <!-- RMS error fitting plot-->
          <div id="plotly-lidar-rms"></div>
        </div>
      </div>
      <hr>
      <div class="row">
          <!-- LiDAR signal plot-->
          <div class="chart" id="plotly-lidar-signal">
          </div>
      </div>
  </div>
</div>

<!-- Script to execute the Json ( we can create it also with looping) -->
<script>
//Parse your Json variable here
var graphs = {{ context.plot_lidar_signal | safe }};
Plotly.plot('plotly-lidar-signal', graphs, {});
</script>

<script>
//Parse your Json variable here
var graphs = {{ context.plot_lidar_range_correction | safe }};
Plotly.plot('plotly-lidar-range-correction', graphs, {});
</script>

<script>
//Parse your Json variable here
var graphs = {{ context.plot_lidar_rms | safe }};
Plotly.plot('plotly-lidar-rms', graphs, {});
</script>

{% endblock my_content %}