{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}
{% block my_content %}
<!-- HEADER PAGE -->

<div class="jumbotron">
  <h1 class="display-4">Sounding, loaded!</h1>
  <p class="lead">Please, reload the dashboard with the button bellow or refresh the homepage.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Reload dashboard</a>
  </p>
</div>

<hr>


<div class="container-fluid" id="sounding-data">
  <h3>{{ context.station_info | safe }}</h3>
  <p>{{ context.filename | safe }}</p>
  <pre>
    {{ context.sounding_data | safe }}
  </pre>
</div>


{% endblock my_content %}